.env
#Hardhat files
cache
artifacts

node_modules
dist/
build/
.vscode
.idea
.npmrc
/types
/typechain
temp.txt

deployed-contracts.json

coverage
coverage.json
.coverage_artifacts
.coverage_cache
.coverage_contracts

.DS_Store

deployments/

# Certora
.certora*
.last_confs
certora_*
