# Mnemonic, only first address will be used
# Wallet Index - derive the wallet from this index path - defaults to 0
MNEMONIC=""
WALLET_INDEX="0"

# Private Key
PRIVATE_KEY=""

# Add Alchemy or Infura provider keys, alchemy takes preference at the config level
ALCHEMY_KEY=""
INFURA_KEY=""


# Optional Etherscan key, for automatize the verification of the contracts at Etherscan
ETHERSCAN_KEY=""

# Optional, if you plan to use Tenderly scripts
TENDERLY_USERNAME=""
TENDERLY_PROJECT=""
# TENDERLY_FORK=""
# TENDERLY_HEAD=""

# Optional, OpenZeppelin Defender Relayer Keys
DEFENDER_API_KEY=""
DEFENDER_SECRET_KEY=""
